<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Folix - ¡Aprender inglés nunca fue tan divertido!</title>
        <!-- Estilos y Recursos -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/styles/styles.css' %}" />
        <link rel="icon" href="{% static 'core/img/icon.png' %}" />
    </head>
    <body>
        <header>
            <a href="{% url 'home' %}">
                <img src="{% static 'core/img/icon.png' %}"
                     alt="Icon"
                     height="25%"
                     width="25%"
                     class="logo" />
            </a>
            <nav class = "navegacion">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="#">Temas</a>
                <a href="#">Juegos</a>
                <a href="#">Integrantes</a>
                <button class = "btn" id = "boton">Iniciar Sesión</button>
            </nav>
        </header>
        <div class = "fondo"></div>
        <section class="tracking-in-expand">
            <h1 class = "bienvenida" id = "bienvenida">
                BIENVENIDOS A <span class="FOLIX">FOLIX</span>
            </h1>
        </section>
        <section id = "l_derecho">
            <form action="{% url 'home' %}" class = "login">
                <div class = "login-body">
                    <br />
                    <h1 class = "titulo">Iniciar sesión</h1>
                    <br />
                    <br />
                    <label>Usuario o correo electrónico</label>
                    <input type="text"required />
                    <br />
                    <br />
                    <label>Contraseña</label>
                    <input type="password" required />
                    <br />
                    <br />
                    <br />
                    <div class="btnInicioSesion" required>
                        <button type="submit">Iniciar Sesión</button>
                    </div>
                    <br />
                    <br />
                    <p>
                        ¿No tienes una cuenta?  <span id = "registro">Regístrate</span>
                    </p>
                    <br />
                </div>
            </form>
        </section>
        <section id = "l_izquierdo">
            <form action="{% url 'home' %}" class = "registro">
                <div class = "registro-body">
                    <br />
                    <h1 class = "titulo">Registrarse</h1>
                    <br />
                    <div class="registro-linea">
                        <div class = "labels">
                            <label for="">Nombres</label>
                            <label for="">Apellidos</label>
                        </div>
                        <div class = "inputs">
                            <input type="text" class = "input1" required />
                            <input type="text" class = "input2" required />
                        </div>
                    </div>
                    <div class="registro-columna">
                        <br />
                        <br />
                        <label for="">Usuario</label>
                        <input type="text" required />
                        <br />
                        <br />
                        <label for="">Correo electrónico</label>
                        <input type="email" required />
                        <br />
                        <br />
                        <label>Contraseña</label>
                        <input type="password" required />
                        <br />
                        <div class="btnRegistro">
                            <button type="submit">Registrarse</button>
                        </div>
                        <br />
                        <p>
                            ¿Ya tienes una cuenta?  <span id = "boton2">Iniciar sesión</span>
                        </p>
                        <br />
                    </div>
                </div>
            </form>
        </section>
        <!-- Hasta aca es la pagina de inicio pes -->
    </body>
    <script src="{% static 'core/js/script.js' %}"></script>
</html>
